

{% extends "base.html" %}
{% load static %}
{% block page_CSS %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css">
{% endblock page_CSS %}
{% block page_title %}
All Users
{% endblock page_title %}

{% block main_content %}
<div class="row mb-12 g-6">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">All Users</h5>
                <table id="pending_users_list" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Full Name</th>
                            <th>Last Login </th>
                             <th>User Type</th>
                            <th>Phone</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in pending_users %}
                        <tr>
                            <td><a href="#"> {{ user.pk }} </a></td>
                            <td>{{user.email}}</td>
                            <td>{{user.first_name|truncatechars:10}} - {{user.last_name|truncatechars:10}}</td>
                            <td>{{ user.last_login }}</td>
                            <td>{{ user.user_type }}</td>
                            <td>{{ user.phone }}</td>
                            {% if request.user.user_type == 'manager' %}
                            <td>
                                <p>
                                    <form method="post" action="{% url 'confirm_user' user.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="user_id" value="{{ user.pk }}">
                                        <button type="submit" class="btn btn-outline-success">Approve</button>
                                    </form>
                                    <a href="" class="btn btn-danger">Delete</a>
                                </p>
                            </td>
                            {% else %}
                            <td>
                                <p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </p>
                            </td>
                            {% endif %}
                            
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No Pending Users available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Full Name</th>
                            <th>Last Login </th>
                             <th>User Type</th>
                            <th>Phone</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
{% block page_JS %}
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>
<script>
    $(document).ready(function() {
        new DataTable('#pending_users_list');
    });
</script>
{% endblock page_JS %}