{% extends "base.html" %}
{% load static %}
{% block page_CSS %}

{% endblock page_CSS %}
{% block page_title %}
Events List
{% endblock page_title %}
{% block main_content %}

<div class="mb-4 row">
    <div class="col-md-6 col-lg-6">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">{{ event.title }}</h4>
                <h5 class="card-subtitle">{{ event.category }}</h5>
                <img class="img-fluid d-flex mx-auto my-6 rounded" src="{{ event.images.url }}" alt="Card image cap">
                <h6 class="card-subtitle">Description: </h6>
                <p class="card-text">{{ event.description }}.</p>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Start Time:</strong></p>
                        <p><strong>End Time:</strong></p>
                    </div>
                    <div class="col-md-6">
                        <p> {{ event.start_date_time.date }}</p>
                        <p>{{ event.end_date_time.date }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>Location:</strong></p>
                    </div>
                    <div class="col-md-6">
                        {% if event.location %}
                            <p>{{ event.location }}</p>
                        {% else %}
                            <p>Open Laptop and connect with us from anywhere.</p>
                        {% endif %}
                        
                    </div>
                </div>
                {% comment %} <p>{{ event.location }}</p> {% endcomment %}
                 {% if request.user.user_type == 'manager' %}
                 <a href="{% url 'event_update' event.pk %}" class="btn btn-success">Edit</a>
                 <a href="{% url 'event_delete' event.pk %}" class="btn btn-danger">Delete</a>
                 {% else %}
                    <a href="#" class="btn btn-primary">Participate</a>
                 {% endif %}
                <a href="{% url 'event_list' %}" class="btn btn-secondary">Back to Events</a>
            </div>
        </div>
    </div>
    <div class="card col-md-6 col-lg-6">
        <ul class="list-group list-group-flush">
          

             <div class="row mt-2">
                 <div class="col-md-6">
                      <li class="list-group-item">
                        <p>Event Type</p>
                      </li>
                  </div>
                  <div class="col-md-6">
                       <li class="list-group-item">
                        <p class="text-primary">{{ event.event_type }}</p></li>
                  </div>
             </div>

             <div class="row">
                <div class="col-md-6">
                     <li class="list-group-item">
                         <p>End Time</p></li>
                </div>
                 <div class="col-md-6">
                       <li class="list-group-item">
                         <p class="text-primary">{{ event.end_date_time.time }}</p></li>
                 </div>
            </div>

            <div class="row">
                  <div class="col-md-6">
                       <li class="list-group-item">
                            <p>Start Time</p></li>
                   </div>
                    <div class="col-md-6">
                         <li class="list-group-item">
                             <p class="text-primary">{{ event.start_date_time.time }}</p></li>
                    </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                     <li class="list-group-item">
                          <p>Event Status</p></li>
                </div>
                <div class="col-md-6">
                    <li class="list-group-item">
                        <p class="text-secondary">{{ event.status }}</p>
                    </li>
                </div>
            </div>

             <div class="row">
                    <div class="col-md-6">
                          <li class="list-group-item">
                            <p>Max Participants</p></li>
                    </div>
                     <div class="col-md-6">
                          <li class="list-group-item">
                            <p class="text-primary">{{ event.max_participants }}</p></li>
                    </div>
              </div>

              <div class="row">
                    <div class="col-md-6">
                          <li class="list-group-item">
                            <p>Max Organizers</p></li>
                    </div>
                     <div class="col-md-6">
                           <li class="list-group-item">
                            <p class="text-primary">{{ event.max_organizers }}</p></li>
                    </div>
              </div>
        </ul>

        {% if request.user.user_type == 'manager' %}
        <div class="card mt-4">
            <div class="card-header">
                <h4>Event Organizers ({{ event.organizers.count }} / {{ event.max_organizers }})</h4>
            </div>
            <div class="card-body">
                {% if event.organizers.all %}
                <ul class="list-group mb-3">
                    {% for organizer in event.organizers.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ organizer.user.first_name }} {{ organizer.user.last_name }} ({{ organizer.user.email }})
                        <span class="badge bg-primary rounded-pill">{{ organizer.user.get_user_type_display }}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No organizers have been assigned to this event yet.</p>
                {% endif %}
                
                <a href="{% url 'event_add_organizer' event.pk %}" class="btn btn-primary {% if event.organizers.count >= event.max_organizers %}disabled{% endif %}">
                Add Organizer
                </a>
            </div>
        </div>
        {% elif request.user.user_type == 'student' %}
        <div class="card mt-4">
            <div class="card-header">
                <h4>Event Organizers ({{ event.organizers.count }} / {{ event.max_organizers }})</h4>
            </div>
             <div class="card-body">
                 {% if event.organizers.all %}
                  <ul class="list-group">
                      {% for organizer in event.organizers.all %}
                       <li class="list-group-item">
                           {{ organizer.user.first_name }} {{ organizer.user.last_name }} ({{ organizer.user.email }})
                           <span class="badge bg-primary rounded-pill">{{ organizer.user.get_user_type_display }}</span>
                       </li>
                      {% endfor %}
                  </ul>
                 {% else %}
                  <p>No organizers have been assigned to this event yet.</p>
                 {% endif %}
        </div>
        {% endif %}
    </div>
</div>

<div class="row">
    {% if request.user.user_type == 'student' %}
    <div class="card mt-4">
        <div class="card-header">
            <h4>Event Participation</h4>
        </div>
        <div class="card-body">
            {% if event.max_participants %}
                <p>Participants: {{ event.participants.count }} / {{ event.max_participants }}</p>
            {% else %}
                <p>Participants: {{ event.participants.count }} (unlimited)</p>
            {% endif %}
            
            {% if is_participating %}
                <a href="{% url 'event_unparticipate' event.pk %}" class="btn btn-danger">
                    Withdraw Participation
                </a>
            {% else %}
            <a href="{% url 'event_participate' event.pk %}" 
                class="btn btn-primary {% if event.max_participants and event.participants.count >= event.max_participants %}disabled{% endif %} {% if event.status != 'upcoming' and event.status != 'ongoing' %}disabled{% endif %}">
                Participate
            </a>
         
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock main_content %}
{% block page_JS %}

{% endblock page_JS %}
